/* qa.css */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#qa-form-section {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"], input[type="email"], textarea {
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}
#question {
    width: 100%;      /* 幅を100%に設定、親要素の幅に合わせる */
    height: 200px;    /* 固定の高さ */
    resize: none;     /* サイズ変更を無効化 */
}